/* Large Screen  */

@media only screen and (min-width: 1400px) {









}


/* Laptop Screen  */

@media only screen and (min-width: 1171px) and (max-width: 1400px) {
.hero-section {
  padding: 220px 0 180px;
}








}


/* desktop :992px. */

@media only screen and (min-width: 992px) and (max-width: 1169px) {
.single-feature .content p {
  font-size: 14px;
}
.hero-section {
  padding: 220px 0 180px;
}








}


/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.demo-content h1 {
  font-size: 30px;
}
.demo-item .image i {
  height: 50px;
  line-height: 46px;
  width: 50px;
}
.single-feature .content p {
  font-size: 14px;
}
.footer-section h1 {
  font-size: 24px;
}





}


/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
.container {
    width: 450px;
}
.demo-content h1 {
  font-size: 30px;
}
.section-title h1 {
  font-size: 30px;
}
.footer-section .buy-btn {
  float: left;
}

.hero-section {
  padding: 150px 0 120px;
}
.hero-content img {
  width: 140px;
}
.hero-content h1 {
  font-size: 26px;
}



}


/* small mobile :320px. */

@media only screen and (max-width: 479px) {
.container {
    width: 300px;
}
.logo a {
  width: 110px;
}
.buy-btn {
  font-size: 11px;
  height: 34px;
  padding: 3px 25px;
}

}